@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* Estilos específicos del body */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
  width: 100%;
  height: 100%;
  background: url("/imagenes/scapeRoom.jpg");
  background-position: center;
  background-size: cover;
}
.auth-buttons {
    display: flex; /* Convertir el contenedor de botones en un contenedor flex */
    justify-content: center; /* Centrar los elementos horizontalmente */
    align-items: center; /* Centrar los elementos verticalmente */
  }
  
  .auth-buttons a {
    text-decoration: none;
    background-color: #240090;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 5px; /* Agregar margen entre los botones */
    color: #fff;
  }
  
  .auth-buttons a:hover {
    background-color: #ea33ff;
  }


/*Botton logout y perfil*/

#logoutButton{
    background: #fff;
    color: #000;
    font-weight: 600;
    border: none;
    margin: 10px;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
  }
  
  #logoutButton:hover {
    color: #fff;
    border-color: #fff;
    background:#ea33ff;
  }
  
    /* Estilos para los botones */
    #editUserButton, #deleteUserButton, #showStatsButton, #usuariosList, #mostrarUsuarioButton {
      background: #ea33ff;
      color: #000;
      font-weight: 600;
      border: none;
      margin: 10px;
      padding: 12px 20px;
      cursor: pointer;
      border-radius: 3px;
      font-size: 16px;
      border: 2px solid transparent;
      transition: 0.3s ease;
      border-radius: 8px;
  }
  
  #editUserButton:hover, #deleteUserButton:hover, #showStatsButton:hover, #usuariosList:hover, #mostrarUsuarioButton:hover {
      color: #fff;
      border-color: #fff;
      background: #2196f3;
  }

/* Estilos específicos del footer */
.foot{
    position: fixed;
    margin-top: 15px ;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color:#ea33ff;
   
  }
  .foot p{
    color: white;
    padding: 15px;
  }


  /* Estilos responsivos */

/* Pantallas pequeñas */
@media only screen and (max-width: 480px) {
  .navbar {
      flex-direction: column; /* Cambiamos la dirección de la navegación a columna */
      align-items: center; /* Centramos los elementos horizontalmente */
  }

  .auth-buttons {
      margin-top: 10px; /* Agregamos un poco de espacio arriba de los botones */
  }

  .profile-container {
      padding: 20px; /* Ajustamos el relleno del contenedor del perfil */
  }

  .foot {
      position: static; /* Cambiamos la posición del pie de página a estática */
      width: 100%; /* Ajustamos el ancho al 100% */
      text-align: center; /* Centramos el texto del pie de página */
  }
}
