* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Tahoma, sans-serif;
}

.control-buttons {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #5200ff;
}

.control-buttons span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ea33ff;
  color: #FFF;
  padding: 15px 25px;
  font-size: 30px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.info-container {
  width: 100%;
  max-width: 1080px;
  margin: 80px auto 0;
  background-color: #F6F6F6;
  padding: 20px;
  font-size: 24px;
  overflow: hidden;
}

.memory-game-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}

.memory-game-blocks .game-block {
  height: 200px;
  flex: 1 0 calc(25% - 20px);
  margin: 0 10px 20px;
}

@media screen and (max-width: 768px) {
  .memory-game-blocks .game-block {
    flex: 1 0 calc(33.33% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .memory-game-blocks .game-block {
    flex: 1 0 calc(50% - 20px);
  }
}

.memory-game-blocks .game-block .front {
  background-color: #240090;
  line-height: 200px;
}

.memory-game-blocks .game-block .front:before {
  content: '!';
  color: #f4661b;
  font-size: 140px;
  font-weight: bold;
}

.memory-game-blocks .game-block .back {
  background-color: #607D8B;
  transform: rotateY(180deg);
}

.memory-game-blocks .game-block .back img {
  width: 140px;
  height: 140px;
  margin-top: 30px;
}

.memory-game-blocks .game-block .face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  border: 5px solid #2196F3;
}

.memory-game-blocks .game-block.is-flipped,
.memory-game-blocks .game-block.has-match {
  transform: rotateY(180deg);
  pointer-events: none;
}

.rowCronometro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbar {
  background-color: #00adff;
  color: #fff;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-buttons a {
  text-decoration: none;
  background-color: #240090;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  color: #fff;
}

.auth-buttons a:hover {
  background-color: #ea33ff;
}

.foot {
  position: fixed;
  margin-top: 15px;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #ea33ff;
}

.foot p {
  color: white;
  padding: 15px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #f6f6f6;
  padding: 20px;
  font-size: 24px;
  border: 2px solid #2196f3;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.name {
  font-weight: bold;
}

.row {
  display: flex;
  align-items: center;
}

.cronometro {
  width: 100px;
  text-align: center;
  margin: 5px;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.tries {
  font-style: italic;
  color: #666;
}

#logoutButton {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  margin: 10px;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

#logoutButton:hover {
  color: #fff;
  border-color: #fff;
  background: #ea33ff;
}

#editUserButton,
#deleteUserButton,
#showStatsButton {
  background: #ea33ff;
  color: #000;
  font-weight: 600;
  border: none;
  margin: 10px;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
  border-radius: 8px;
}

#editUserButton:hover,
#deleteUserButton:hover,
#showStatsButton:hover {
  color: #fff;
  border-color: #fff;
  background: #2196f3;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 15px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#editUserForm {
  margin-top: 20px;
  height: 400px;
  width: 550px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #2196f3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #ea33ff;
}
